<article id="faculties">
  <section id="main">
    <%= render(:partial => 'faculties') %>
    <ul>
      <li>
        <%= link_to("добавить", { :controller => '/admin/faculty', :action => 'new'}) %>
      </li>
    </ul>
  </section>
</article>
