<article id="scientific_degrees">
  <section id="main">
    <%= render(:partial => 'scientific_degrees') %>
    <ul>
      <li>
        <%= link_to("добавить", { :controller => '/admin/dictionary/scientific_degree', :action => 'new'}) %>
      </li>
    </ul>
  </section>
</article>

