<article id="users">
  <section id="main">
    <%= render(:partial => 'users') %>
    <ul>
      <li>
        <%= link_to("добавить", { :controller => '/admin/user', :action => 'new'}) %>
      </li>
    </ul>
  </section>
</article>
