@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/fontomas-webfont.woff') format('woff'),
    url('fonts/fontomas-webfont.ttf') format('truetype'),
    url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#end_of_registration
{
  display: none;
}

article form.button_to
{
    display: none;
}

body
{
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    background: #fff url(bg.jpg) repeat top left;
    font-weight: 400;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

header
{
    text-align: right;
}
header input#restart
{
    position: relative;
    /*top: 10px;
    right: 10px;   */
    top: 10px;
    right: 50%;
    margin-right: -350px;
    margin-left: 10px;
    margin-bottom: 10px;

    background: transparent url('restart.png') no-repeat center top;
    border: 0;
    /*margin: 0;*/
    padding: 0;
    width: 60px;
    height: 60px;
    text-indent: -1000em;
    cursor: pointer;
}

article
{
    position:relative;
    padding: 0px;
    left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -300px;
    width: 600px;
    background: #F7F7F7;
    border: 1px solid rgba(147, 184, 189, 0.8);
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

article section.important_remark
{
    color: rgba(255, 0, 0, 0.8);
    position: relative;
    text-align: center;
    min-height: 50px;
    vertical-align: middle;
    margin: 10px;
}

article section.important_remark p
{
    display:inline-block;
    vertical-align: middle;
}

article section#main
{
    margin: 0px;
    padding: 0px 30px 0px 30px;
}

article section#main form h1
{
    color: rgb(61, 157, 179);
    background: -webkit-repeating-linear-gradient(-45deg,
    rgb(18, 83, 93) ,
    rgb(18, 83, 93) 20px,
    rgb(64, 111, 118) 20px,
    rgb(64, 111, 118) 40px,
    rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 48px;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 0px 0px;
}
article section#main form h1::after
{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%,rgba(147, 184, 189, 0.8) 20%,rgba(147, 184, 189, 1) 53%,rgba(147, 184, 189, 0.8) 79%,rgba(147, 184, 189, 0) 100%);
    background: -o-linear-gradient(left, rgba(147, 184, 189, 0) 0%,rgba(147, 184, 189, 0.8) 20%,rgba(147, 184, 189, 1) 53%,rgba(147, 184, 189, 0.8) 79%,rgba(147, 184, 189, 0) 100%);
    background: -ms-linear-gradient(left, rgba(147, 184, 189, 0) 0%,rgba(147, 184, 189, 0.8) 20%,rgba(147, 184, 189, 1) 53%,rgba(147, 184, 189, 0.8) 79%,rgba(147, 184, 189, 0) 100%);
    background: -moz-linear-gradient(rgba(147, 184, 189, 0) 0%,rgba(147, 184, 189, 0.8) 20%,rgba(147, 184, 189, 1) 53%,rgba(147, 184, 189, 0.8) 79%,rgba(147, 184, 189, 0) 100%);
}

article section#main form p
{
    font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}

article section#main form label
{
    font-weight: 400;
    display: block;
    color: #405C60;
    position: relative;
}

[data-icon]::after
{
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: #6A9FAB;
    position: absolute;
    left: 10px;
    top: 35px;
    width: 30px;
}

article section#main form p.field input
{
    outline: none;
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
article section#main form p.field input:active,
article section#main form p.field input:focus
{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
    font-style: italic;
}
article section#main form p.field input:-moz-placeholder
{
    color: rgb(190, 188, 188);
    font-style: italic;
}

article section#main form p label.error
{
    color: rgba(255, 0, 0, 0.8);
    line-height: 17px;
}

article section#main form p .select
{
    font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
    outline:none;
    -webkit-appearance: none;
    padding: 7px 5px 7px 5px;
    font-size: 16px;
    line-height: 1.2em;
    width: 60%;
    background: url('darr_dd_out.gif') no-repeat scroll 95.5% 53%  rgb(255, 255, 255);
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    border: 1px solid rgb(178, 178, 178);
    -webkit-border-radius: 3px;
    margin-bottom: -1px;
}

article section#main form p .select:focus,
article section#main form p .select:active
{
    font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
    outline:none;
    -webkit-appearance: none;
    border: 1px solid rgb(192, 202, 213);
    padding: 7px 5px 7px 5px;
    font-size: 16px;
    line-height: 1.2em;
    width: 60%;
    background: url('123.png') no-repeat scroll 100% 50%  rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

article section#main form p.button
{
    margin-top: 10px;
    text-align: right;
}
article section#main form p.button input
{
    display: inline;
    cursor: pointer;
    min-width: 140px;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
    0px 0px 0px 3px rgb(254, 254, 254),
    0px 5px 3px 3px rgb(210, 210, 210);
    -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
    0px 0px 0px 3px rgb(254, 254, 254),
    0px 5px 3px 3px rgb(210, 210, 210);
    box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
    0px 0px 0px 3px rgb(254, 254, 254),
    0px 5px 3px 3px rgb(210, 210, 210);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

article section#main form p.button input:hover
{
    background: rgb(74, 179, 198);
}
article section#main form p.button input:active,
article section#main form p.button input:focus
{
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}

article section.remark
{
    position: relative;
    color: rgb(127, 124, 124);
    left: 0px;
    padding: 0px 30px 0px 30px;
    font-size: 16px	;
    text-align: right;
    border-top: 1px solid rgb(219, 229, 232);
    -webkit-border-radius: 0 0  5px 5px;
    -moz-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
    background: rgb(225, 234, 235);
    background: -moz-repeating-linear-gradient(-45deg,
    rgb(247, 247, 247) ,
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
    );
    background: -webkit-repeating-linear-gradient(-45deg,
    rgb(247, 247, 247) ,
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
    );
    background: -o-repeating-linear-gradient(-45deg,
    rgb(247, 247, 247) ,
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
    );
}

article section.remark p
{
    display: inline-block;
    vertical-align: middle;
}

article section.remark a
{
    display: inline-block;
    font-weight: bold;
    background: rgb(247, 248, 241);
    padding: 2px 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgb(203, 213, 214);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s  linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s  linear;
    transition: all 0.4s  linear;
}
article section.remark a:hover
{
    color: rgb(57, 191, 215);
    background: rgb(247, 247, 247);
    border: 1px solid rgb(74, 179, 198);
}
article section.remark a:active
{
    position: relative;
    top: 1px;
}


/*------------------------------------*/

.sel_wrap{

    margin-bottom:5px;
}
.sel_wrap select{
    display:none;
}
.sel_imul{
    width: 322;

}

.sel_icon{
    font-family: 'FontomasCustomRegular';
    font-size: 18px;
    color: rgb(106, 159, 171);

    top: 6px;
    width: 30px;
    display: inline;
    position:relative;
}
.selected-text{
    display:inline;
    left: 18px;
    top: 6px;
    position:relative;
}
.sel_imul .sel_selected{
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    height: 30px;
    background:#fff;

    padding:3px 6px;
    font-size:14px;
    font-family:Times;
    cursor:pointer;
    position:relative;

    border: 1px solid #B2B2B2;
    width: 310px;
    border-radius: 7px;
    -webkit-box-sizing: content-box;
    webkit-border-radius: 3px;
    -webkit-transition: all 0.2s linear;
}
.sel_imul.act .sel_selected{

    background:#efefef;
}
.sel_selected .sel_arraw{
    height:100%;
    width:20px;
    background:url('http://bit.ly/gudLNa') 50% 50% no-repeat;
    position:absolute;
    top:0px;
    right:0px;
}
.sel_imul:hover .sel_selected .sel_arraw{
    background-color:#e0e0e0;
    border-left:1px solid #bbb;
}
.sel_imul.act .sel_selected .sel_arraw{
    background-color:#e0e0e0;
    border-left:1px solid #bbb;
}
.sel_imul .sel_options{
    background:#fff;
    border:1px solid #dbdbdb;
    border-top:none;
    overflow:auto;
    position:absolute;
    width:298px;
    display:none;
    z-index:10;
}
.sel_options .sel_option{
    padding:3px 4px;
    font-size:14px;
    font-family:Times;
    border:1px solid #fff;
    border-right:none;
    border-left:none;
}
.sel_options .sel_option:hover{
    border-color:#dbdbdb;
    cursor:pointer;
}
.sel_options .sel_option.sel_ed{
    background:#dbdbdb;
    border-color:#dbdbdb;
}

/*second variant*/
.sec .sel_imul{

}
.sec .sel_imul .sel_selected{
    border:1px solid #C0CAD5;
}
.sel_imul.act .sel_selected{
    background:#fff;
}
.sec .sel_imul:hover .sel_selected .sel_arraw{
    background-color:#e1e8ed;
    border-left:1px solid #d2dbe0;
}
.sec .sel_imul.act .sel_selected .sel_arraw{
    background-color:#e1e8ed;
    border-left:1px solid #d2dbe0;
}
.sec .sel_imul .sel_options{
    background:#fff;
    border:1px solid #d2dbe0;
    width:322px;
}
.sec.overf .sel_imul .sel_options{
    min-height: 30px;
    max-height: 120px;
}
.sec .sel_options .sel_option:hover, .sec .sel_options .sel_option.sel_ed{
    background:#6A9FAB;
    border:1px solid #0C4C57;
    color:#fff;
    cursor:pointer;
}
.sec .sel_imul .sel_selected .sel_arraw{
    background-image:url('darr_dd_out.gif');
}

.sec.round .sel_imul .sel_selected{

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.sec.round .sel_imul .sel_selected .sel_arraw{
    -webkit-border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
}
.sec.round .sel_imul .sel_options{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
/*green*/
.sec.green .sel_imul .sel_selected{
    border-color:#FFAD99;
}
.sec.green .sel_imul:hover .sel_selected .sel_arraw,
.sec.green .sel_imul.act .sel_selected .sel_arraw{
    background-color:#FFD6CC;
    border-left:1px solid #FFAD99;
}
.sec.green .sel_options .sel_option:hover,
.sec.green .sel_options .sel_option.sel_ed{
    background:#FF9980;
    border:1px solid #FF704D;
    color:#fff;
    cursor:pointer;
}
​

/*----------------------*/


nav{
    width: 960px;
    margin: 80px auto;
    text-align: center;
}

nav ul
{
    margin: 1px;
    padding: 0;
    text-align: center;
}
section ul{
    display: block;
    margin: 10px;
    padding: 0;
    text-align: left;
}

nav li, section ul li{
    text-align: left;
    margin: 0 0px;
    display: inline-block;

    zoom: 1;
}
nav a, section ul li a
{
    display: inline-block;
    position: relative;
    padding: 8px 15px;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    font: bold 14px 'Lucida sans', Arial, Helvetica;
    background-color: rgb(61, 157, 179);
    background-image: linear-gradient(top, #eaeaea, #fff);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset,
    0 0 1px 0 rgba(0, 0, 0, .2),
    0 2px 2px rgba(0, 0, 0, .3),
    0 10px 10px -5px rgba(0, 0, 0, .2);
}

nav a:hover, section ul li a:hover
{
    background-color: rgb(74, 179, 198);
    background-image: linear-gradient(top, #eee, #fff);
}

nav a:active, section ul li a:active
{
    top: 1px;
    background: rgb(40, 137, 154);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05) inset, 0 0 1px 0px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .3);
}
​